* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(to right, #ecd0af, #fdfaf8);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.testimonies {
  background-color: white;
  display: flex;
  width: 70%;
  margin: auto;
  gap: 0 15rem;
  padding: 15rem 10rem;

  .left {
    position: relative;

    .main-avatar {
      height: 100%;

      img {
        height: 100%;
        width: 340px;
        background-color: lightgrey;
        border-radius: 48%;
        object-fit: cover;
      }
    }

    .satisfied-users {
      position: absolute;
      bottom: 5%;
      right: -25%;
      background-color: white;
      padding: 4rem 3rem;
      border-radius: 1rem;
      box-shadow: 0 0 15px #ddd;
      display: grid;

      h4 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 400;
      }

      img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 50%;
        margin-left: -2rem;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;

    h2 {
      font-size: 5rem;
    }

    p {
      font-size: 1.8rem;
      color: #777;
    }

    .review {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;

      .review__profile {
        display: flex;
        gap: 0 2rem;

        .review__profile--avatar img {
          border-radius: 50%;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
        }

        .review__profile--info {
          display: flex;
          flex-direction: column;
          gap: 1rem 0;

          h3 {
            font-size: 2rem;
          }

          figure {
            display: flex;
            gap: 0 1rem;
          }

          img {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .review__controls {
        display: flex;
        gap: 0 2rem;
        align-items: center;

        button {
          background-color: white;
          color: #09c43e;
          font-size: 2rem;
          width: 4rem;
          height: 4rem;
          border: 1px solid transparent;
          border-radius: 50%;
          box-shadow: 0 0 15px #ddd;
          cursor: pointer;

          &:hover {
            color: white;
            background-color: #09c43e;
          }
        }
      }
    }
  }
}
