@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Exo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: linear-gradient(45deg, #88d1b5, #f8fcfb);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  display: flex;
  background-color: #161c28;
  color: white;
  padding: 4rem 6rem;
  column-gap: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.title {
  font-size: 2.25rem;
}

p {
  font-size: 0.875rem;
  color: #a3a3a3;
}

.quote {
  font-size: 9rem;
  line-height: 1.2;
  height: 6rem;
  font-style: italic;
  position: relative;
  left: -20px;
  font-weight: 500;
}

.user-icons {
  display: flex;
  column-gap: 0.875rem;
}

.user-icons img,
.blank-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blank-icon {
  display: grid;
  place-content: center;
  border: 2px solid white;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #222938;
  border-radius: 1.25rem;
  row-gap: 1.5rem;
}

form h2 {
  font-size: 1.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.75rem;
  border: none;
}

fieldset input,
fieldset textarea {
  border-radius: 0.375rem;
  color: black;
  padding: 0.75rem;
}

form input[type='submit'] {
  width: 100%;
  background-color: #54bd95;
  border-radius: 0.375rem;
  padding: 0.75rem;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transition: all 0.25s ease-in-out;
  }
}

form p:last-of-type {
  align-self: flex-end;
}

form a {
  color: white;
}
